.video-listing {
  &__media {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  }

  &__image {
    width: 150px;
    height: 100px;
  }

  &__description {
    display: block;
    min-height: 44px;
  }
}